
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background-color: dimgrey;
    overflow: hidden;
    display: flex;
    overscroll-behavior-y: contain;
}
p{
    font-size: 4vw;
    text-size-adjust: auto;
    text-align: center;
    font-family: "VT323", monospace;

    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#game_canvas{
    margin: auto;
    padding: 0;
}
.out_of_screen_text{
    width: 100%;
    margin: 10% auto;
    color: #ffffff;
    font-weight: bold;
}
.out_of_screen_div{
    height: fit-content;
    margin: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.06);
    position: fixed;
    visibility: hidden;
}
.icon{
    width: 4vw;
    height: 4vw;


    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.rotate270 {
     -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
     -o-transform: rotate(270deg);
     -ms-transform: rotate(270deg);
     transform: rotate(270deg);
 }
.margin_right{
    margin: auto auto auto 0;
}
.margin_left{
    margin: auto 0 auto auto;
}
.icon_div{
    display: flex;
    width: 100%;
    margin-top: 3%;
}