
body{
    display: flex;
}
p{
    font-size: 6vw;
    text-size-adjust: auto;
    text-align: center;
    font-family: "VT323", monospace;

    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#game_canvas{
    margin: auto;
    padding: 0;
}
#game_canvas_div{
    display: flex;
    margin: 0 auto auto auto;
    padding: 0;
    width: fit-content;
}
#action_a_btn{
    aspect-ratio: 1;
    margin: auto auto auto auto;
    padding: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #c50000;
    background: url("../sprites/action_a_icon.png") no-repeat center;
    background-size: 100%;
    box-shadow: 0 5px #9a0000;

}

.out_of_screen_text{
    width: 100%;
    margin: 10% auto;
    color: #ffffff;
    font-weight: bold;
}
.out_of_screen_div{
    height: fit-content;
    margin: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.06);
    position: fixed;
    visibility: hidden;
}
.icon{
    width: 4vw;
    height: 4vw;


    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.margin_right{
    margin: auto auto auto 0;
}
.margin_left{
    margin: auto 0 auto auto;
}
.icon_div{
    display: flex;
    width: 100%;
    margin-top: 3%;
}
.death_div{
    position: absolute;
    width: fit-content;
}
.death_btn{
    margin: 1vw 0 0 0;
    padding: 1% 1% 1% 1%;
    background-color: rgba(0,0,0,0);
    width: 100%;

    border-radius: 8px;
    border: 0.4vw solid aliceblue;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.death_btn:hover{
    background-color: rgba(255, 255, 255, 0.18);
}
.death_btn_text{
    margin: 0;
    color: white;
}