body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background-color: dimgrey;
    overflow: hidden;
    display: flex;
}
#game_canvas{
    margin: auto;
    padding: 0;
}